/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000e9;
}

/* Container styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* App container styling */
.app-container {
    background-color: #00000033;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(253, 253, 253, 0.1);
    max-width: 800px;
    width: 90%;
}

/* Headings container styling */
.headings-container {
    text-align: center;
    margin-bottom: 30px;
}

.headings-container h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}

.headings-container h3 {
    font-size: 18px;
    color: #939191da;
    font-style: italic;
    line-height: 1.6;
}

/* Interaction container styling */
.interaction-container {
    text-align: center;
}

.text-control {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #9d9c9c;
    border-radius: 10px;
    background-color: #575757;
    font-size: 16px;
    color: #ffdd00;
    outline: none;
    transition: border-color 0.3s ease;
}

.text-control:focus {
    border-color: #ffc800;
}

.error-para {
    color: #ff6f61;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
}

.btn {
    background-color: rgb(48, 186, 250);
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #029de5;
}
